$primary-color: #FAA819
$secondary-color: #F05A28

@for $i from 0 to 100
  @if $i % 5 == 0
    .padding-#{$i}
      padding: #{$i}px
    .padding-left-#{$i}
      padding-left: #{$i}px
    .padding-right-#{$i}
      padding-right: #{$i}px
    .padding-top-#{$i}
      padding-top: #{$i}px
    .padding-bottom-#{$i}
      padding-left: #{$i}px

    .margin-#{$i}
      margin: #{$i}px
    .margin-left-#{$i}
      margin-left: #{$i}px
    .margin-right-#{$i}
      margin-right: #{$i}px
    .margin-top-#{$i}
      margin-top: #{$i}px
    .margin-bottom-#{$i}
      margin-left: #{$i}px


@mixin gradient($color1, $color2)
    background: $color1
    background: -webkit-linear-gradient($color1, $color2)
    background: -o-linear-gradient($color1, $color2)
    background: -moz-linear-gradient($color1, $color2)
    background: linear-gradient($color1, $color2)

@mixin transition($prop, $time, $type)
  -webkit-transition: $prop $time $type
  -moz-transition: $prop $time $type
  -o-transition: $prop $time $type
  transition: $prop $time $type

@mixin blur($amount)
  -webkit-filter: blur($amount)
  -moz-filter: blur($amount)
  -o-filter: blur($amount)
  -ms-filter: blur($amount)
  filter: blur($amount)

// START STYLE
*
  @include transition(all, .4s, ease)

body
  margin: 0
  font-family: 'Roboto', sans-serif

.pull-left
  float: left

.pull-right
  float: right

.text-left
  text-align: left

.text-right
  text-align: right

.btn
  @include transition(all, .1s, ease)

.btn-primary, .btn-primary:focus
  @include gradient($primary-color, $secondary-color)
  border-width: 0

// MARGIN & PADDING

header
  @include gradient($primary-color, $secondary-color)
  position: fixed
  z-index: 10000
  top: 0
  width: 100%
  font-size: 13px
  text-align: center
  color: #fff
  transition: all 0.4s ease
  .wrapper
    width: 1000px
    margin: auto
    .pull-right .vendor-wrapper
      float: left
      position: relative
    a, button
      margin: 0 25px
      float: left
      position: relative
      color: #fff
    a
      padding: 15px 0
    .btn-mobile
      display: none
    button
      margin: 7.5px
      padding: 3px 15px
      border-radius: 20px
      background: $primary-color
    .btn.focus, .btn:focus, .btn:hover
      color: #fff
    a.logo
      padding: 0
      img
        width: 80px
    a:hover
      text-decoration: none
      color: #fff
      cursor: pointer
    a:first-child
      margin-left: 0
    a:last-child
      margin-right: 0
    .separator
      border-right: 1px solid #fff
      display: block
      height: 15px
      top: 17px
      right: 0
      position: absolute
  h1
    margin: 0

.filter-wrapper.sticky
  position: fixed
  z-index: 10000
  top: 45px
  opacity: 0.9

.filter-wrapper
  width: 100%
  background: dimgray
  padding: 15px 0
  position: fixed
  top: 48px
  display: block
  opacity: .88
  z-index: 10000
  .filter
    width: 1000px
    margin: auto
    text-align: center
    button
      min-width: 110px
    .dropdown
      display: inline-block
      margin: 0 1.93px
      ul
        width: 100%
        min-width: 0px
      button
        min-width: 100px
        text-transform: capitalize
        text-align: left
        background: #fff
        span
          padding: 0 20px 0 0
        .fa
          font-size: 150%
          line-height: 8px
          float: right
          margin-top: 6px
          padding: 0

#home-slider
  margin: 45px 0 0 !important
  border-bottom: 1px solid white
  .slick-next
    right: 25px !important
  .slick-prev
    left: 25px !important
    z-index: 1
  .slick-dots
    bottom: 10%
    right: 9%
    width: 60%
    text-align: right
    li
      margin: 0 15px
      button:before
        opacity: 0.8
        font-size: 16px
        color: #fff
        -webkit-transition:all 1s ease
        -moz-transition:all 1s ease
        -o-transition:all 1s ease
        transition:all 1s ease
    li.slick-active button:before
      color: #f7a61b
      opacity: 1
    li:hover button:before
      opacity: 1
  .slick-slide
    position: relative
    img
      width: 100%
    .text-overlay
      position: absolute
      text-align: right
      top: 38%
      right: 10%
      .title, .sub-title
        text-transform: uppercase
        font-size: 35px
        color: #fff
      .title
        font-weight: bold

// @media screen and (max-width: 1023px)
//   header .wrapper, .filter-wrapper .filter, .slick-slide img
//     width: 750px

.event-tab
  li:first-child a
    background-image: url('../img/present_event.png')
    border-radius: 0px
  li:last-child a
    background-image: url('../img/upcoming_event.png')
    border-radius: 0px
  li.active a:focus, li a:hover, li.active a:hover, li.active a
    border: 0 !important

    color: #fff
  li a
    background-size: cover
    border: 0
    padding: 35px 30px 15px
    text-transform: uppercase
    text-align: right !important
    font-size: 150%
    font-weight: bold

//Ferdiyan
#content-wrapper
  .event-main
    width: 33.3%
    padding-left: 10px
    padding-right: 10px
    margin-top: 30px
    float: left
    .event-img
      background-color: #aaa
      height: 250px
    .event-info, .event-tags
      padding-top: 10px
      padding-left: 20px
      padding-bottom: 10px
    .event-info
      background-color: #fff
      border-left: 1px solid #ddd
      border-right: 1px solid #ddd
      overflow: auto
      .event-date, .event-location, .event-name
        margin: 0
        margin-bottom: 5px
      .event-date, .event-location
        font-size: 16px
        font-weight: 500
      .event-name
        font-weight: 700
    .event-tags
        background-color: $primary-color
        border: 1px solid #ddd
        .tags
          color: #fff
          font-size: 16px
          font-weight: 500
          margin: 0
.event-title
  font-weight: bold
  padding-top: 20px

.clearfix
  clear:both

.page-footer
  background-color: black
  margin-top: 50px

.footer-content
  max-width: 1200px
  margin: 0 auto
  color: #fff
  padding-top: 50px
  padding-bottom: 50px
  overflow: auto
  .column-1
    width: 33.3%
    float: left
    .footer-button-1, .footer-button-2
      border-width: 0px
      width: 150px
      height: 40px
      margin-top: 20px
      margin-right: 20px
      border-radius: 5px
    .footer-button-1
      background: $primary-color
    .footer-button-2
      background: #ccc
  .column-gap
    width: 16.7%
    float: left
  .column-2
    width: 25%
    float: left
    h3
      font-weight: bold
      margin-top: 0px
      margin-bottom: 20px
@media (min-width: 480px)
  header .wrapper, .filter-wrapper .filter, .slick-slide img, .category, .width-wrap
    width: 1600px
  #content-wrapper
    width: 1600px
    margin: 0 auto
    .event-main
      width: 25%
@media screen and (min-width: 1824px)
  header .wrapper, .filter-wrapper .filter, .slick-slide img, .category, .width-wrap
    width: 1600px
  #content-wrapper
    width: 1600px
    margin: 0 auto
    .event-main
      width: 25%
  #content-wrapper-2
    width: 1800px
    margin: 0 auto
    .eo-wrapper, .vendor-wrapper
      width: 16.66666%
@media screen and (min-width: 1224px)
  header .wrapper, .filter-wrapper .filter, .slick-slide img, .category, .width-wrap
    width: 1200px
  #content-wrapper
    width: 1200px
    margin: 0 auto
    .event-main
      width: 33.3%
  #content-wrapper-2
    width: 1200px
    margin: 0 auto
    .eo-wrapper, .vendor-wrapper
      width: 25%
@media screen and (max-width: 1223px)
  #content-wrapper
    width: 100%
    padding-left: 10px
    padding-right: 10px
    .event-main
      width: 33.3%
  #content-wrapper-2
    width: 100%
    padding-left: 10px
    padding-right: 10px
    .eo-wrapper, .vendor-wrapper
      width: 25%
  header .wrapper, .filter-wrapper .filter, .slick-slide img, .category, .width-wrap
    width: 100%
@media screen and (max-width: 1024px)
  #content-wrapper
    width: 800px
    margin: 0 auto
    .event-main
      width: 50%
  #content-wrapper-2
    width: 600px
    margin: 0 auto
    .eo-wrapper, .vendor-wrapper
      width: 50%
  header .wrapper, .filter-wrapper .filter, .slick-slide img, .category, .width-wrap
    width: 800px
  .btn-primary
    margin-top: 10px
    width: 40%
  #home-slider
    margin: 153px 0 0 !important
@media screen and (max-width: 768px)
  #content-wrapper
    width: 400px
    margin: 0 auto
    .event-main
      width: 100%
  .top-fix
    top: 108px !important
    position: relative
  .selected-filters
    padding-bottom: 0px !important
  #content-wrapper-2
    width: 600px
    margin: 0 auto
    .eo-wrapper, .vendor-wrapper
      width: 50%
  .modal-content
    width: 100% !important
    margin: auto !important
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    /* optional */
    -webkit-box-align: start;
    -moz-box-align: start;
    -ms-flex-align: start;
    -webkit-align-items: flex-start;
    align-items: flex-start;
    .modal-content-1
      width: 100% !important
      -webkit-box-ordinal-group: 3
      -moz-box-ordinal-group: 3
      -ms-flex-order: 3
      -webkit-order: 3
      order: 3
      .modal-content-wrapper
        .modal-logo
          display: none
        .login-text
          margin-top: 30px
          font-size: large
    .modal-content-3
      width: 100% !important
      display: block !important
      -webkit-box-ordinal-group: 1
      -moz-box-ordinal-group: 1
      -ms-flex-order: 1
      -webkit-order: 1
      order: 1
    .modal-content-2
      width: 100% !important
      -webkit-box-ordinal-group: 2
      -moz-box-ordinal-group: 2
      -ms-flex-order: 2
      -webkit-order: 2
      order: 2
      .modal-content-container
        position: static !important
        top: 0% !important
        transform: translateY(0%) !important
        .modal-content-wrapper
          width: 50% !important
          h5
            padding-top: 20px !important
            font-size: large
          .button-container
            padding: 0 40px
        .modal-content-detail
          margin-top: 30px !important
          margin-bottom: 30px
  .body
    top: 48px
    position: relative
  .category-wrapper
    display: none
  header .wrapper
    display: none
  .mobile-nav
    width: 400px
    display: block !important
  .mobile-nav-2
    display: block !important
  .filter-wrapper
    background: black
    display: none
  .filter-wrapper .filter, .slick-slide img, .category, .width-wrap,
    width: 400px
  .filter-wrapper .filter
    .dropdown, .dropdown button
      width: 100%
  #home-slider
    margin: 0 !important
  .nav-mobile
    display: none
  .wrapper .btn-mobile
    display: block !important
  .btn-mobile:hover
    .nav-mobile
      display: block
  .datepicker-field
    width: 100% !important
    padding: 6px 12px !important
@media screen and (max-width: 400px)
  #content-wrapper
    width: 100%
    padding-left: 10px
    padding-right: 10px
    .event-main
      width: 100%
  #content-wrapper-2
    width: 300px
    margin: 0 auto
    .eo-wrapper, .vendor-wrapper
      width: 100%
.top-fix
  top: 112px
  position: relative
.no-border-button
  border: none
  background: none
  padding: 5px
  outline: none
  span
    padding-right: 20px
    font-size: 120%
  .fa
    font-size: 150%
.category
  margin: auto
  padding: 20px 0
.category-wrapper
  width: 100%
  border-bottom: solid 1px #ddd
.right
  float: right
.category-data
  width: 25%
  float: left
  font-size: 120%
  ul
    list-style-type: none
    li
      padding: 10px 0
.width-wrap
  margin: auto
.category-list
  padding: 20px 0
  text-align: center
  display: none
.content-filter-wrapper
  width: 100%
  border-bottom: solid 1px #ddd
.content-filter
  margin: auto
  text-align: center
  padding: 10px 0
  .dropdown
    display: inline-block
    margin: 0 1.93px
    padding-left: 40px
    padding-right: 20px
  .right-border
    border-right: solid 1px #aaa
.selected-filters
  text-align: center
  padding-top: 40px
  padding-bottom: 20px
.bold
  font-weight: 700
.eo-wrapper
  width: 25%
  padding: 0px 10px
  margin-top: 30px
  float: left
  .eo-main
    padding: 20px 0
    border: solid 1px #ddd
    .eo-img
      border: 1px solid #FAA819
      margin: auto
      width: 200px
      height: 200px
      border-radius: 100px
      //background-image: url('../img/eo.png')
      //background-position: 50% 50%;
      //background-size: 120px
      //background-repeat: no-repeat
      img
        height: 120px
        width: 120px
        margin-left: 40px
        margin-top: 40px
    .eo-name
      color: #FAA819
      text-align: center
      h3
        font-weight: bold
    .eo-info
      text-align: center
      p
        font-weight: bold
    .eo-rating
      font-size: 150%
      color: #FAA819
      text-align: center
      .rating-pad
        padding: 0 10px
    .eo-button
      padding-top: 20px
      .btn
        margin: auto
        width: 80%
        background-color: #FAA819
        color: white
        font-weight: bold
        font-size: 80% 
        padding: 10px 0
.vendor-wrapper
  width: 25%
  padding: 0px 10px
  margin-top: 30px
  float: left
  .vendor-main
    padding: 20px 0
    border: solid 1px #ddd
    .vendor-img
      border: 1px solid #FAA819
      margin: auto
      width: 200px
      height: 200px
      border-radius: 100px
      //background-image: url('../img/eo.png')
      //background-position: 50% 50%;
      //background-size: 120px
      //background-repeat: no-repeat
      img
        height: 120px
        width: 120px
        margin-left: 40px
        margin-top: 40px
    .vendor-name
      color: #FAA819
      text-align: center
      h3
        font-weight: bold
    .vendor-info
      text-align: center
      p
        font-weight: bold
    .vendor-rating
      font-size: 150%
      color: #FAA819
      text-align: center
      .rating-pad
        padding: 0 10px
    .vendor-button
      padding-top: 20px
      .btn
        margin: auto
        width: 80%
        background-color: #FAA819
        color: white
        font-weight: bold
        font-size: 80% 
        padding: 10px 0
.daterangepicker.dropdown-menu
  z-index: 20000
.datepicker-field
  width: 175px
  margin: 0 1.93px
  display: inline-block
  padding: 6px 3px
  border-width: 1px
  border-radius: 4px
  border-color: #ccc
.mobile-nav
  display: none
  margin: auto
  .search
    float: left
    color: white
    width: 25%
    .fa-search
      font-size: 150%
      padding-top: 12px
  a.logo
    padding: 0
  img
    width: 80px
  .logo-wrap
    float: left
    width: 50%
  .pull-right
    width: 25%
    button
      margin: 7.5px
      padding: 3px 15px
      border-radius: 20px
      background: $primary-color
.mobile-nav-2
  z-index: 10000
  background-color: black
  opacity: 0.8
  top: 48px
  position: fixed
  display: none
  width: 100%
  a
    float: left
    width: 33.3333%
    text-align: center
    padding: 20px
    color: white
    font-weight: bold
.transparent-button
  background: transparent
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
.modal 
  display: none; 
  position: fixed
  z-index: 99999
  left: 0
  top: 0
  width: 100%; 
  height: 100%
  overflow: auto
  background-color: rgb(0,0,0)
  background-color: rgba(0,0,0,0.8)
.italic
  font-style: italic
.modal-content 
  background-color: #fefefe
  margin: 2% auto
  border-radius: 0px
  width: 80%
  text-align: center
  display: flex
  .close
    color: white
    float: right
    font-size: 28px
    font-weight: bold
    padding: 0 10px
  .close:hover, .close:focus
      color: #aaa
      text-decoration: none
      cursor: pointer
  .modal-content-3
    display: none
    background-color: #FAA819
    img
      height: 80px
  .modal-content-2
    width: 33.33333%
    background-image: url('../img/background login-01.jpg')
    background-size: 100% 100%
    text-align: center
    .modal-content-container
      position: absolute
      top: 50%
      transform: translateY(-50%)
      color: white
      .modal-content-wrapper
        width: 75%
        margin: auto
        h5
          font-weight: bold
          padding: 0 40px
          line-height: 25px
        .button-container
          margin-top: 30px
          button
            display: block
            width: 100%
            color: white
            padding-top: 15px
            padding-bottom: 15px
            font-weight: bold
            border-width: 0px
            border-radius: 5px
            font-weight: bold
            background-color: #FAA819
        .modal-content-detail
          margin-top: 80px
  .modal-content-1
    width: 66.66667%
    .modal-content-wrapper
      width: 83.33333%
      margin: auto
      .modal-logo
        img
          height: 100px
    .social-button
      margin-top: 30px
      margin-bottom: 30px
      .social-button-1, .social-button-2
        width: 50%
        float: left
        button
          display: block
          width: 100%
          color: white
          padding-top: 15px
          padding-bottom: 15px
          font-weight: bold
          border-width: 0px
          border-radius: 5px
          font-weight: bold
      .social-button-1
        padding-right: 20px
        button
          background-color: #1B75BB         
      .social-button-2
        padding-left: 20px
        button
          background-color: #ED1C24
    .separator
      width: 100%
      text-align: center
      border-bottom: 2px solid #ddd
      line-height: 0.1em
      margin: 10px 0 20px
      span
        background: white
        padding: 0 20px
        font-weight: bold
    .sign-up-form
      margin-top: 30px
      input
        width: 100%
        height: 50px
        border-radius: 5px
        border: solid 2px #ddd
        margin: 5px 0
        padding: 0 20px
      button
        margin-top: 10px
        display: block
        width: 100%
        color: white
        padding-top: 15px
        padding-bottom: 15px
        font-weight: bold
        border-width: 0px
        border-radius: 5px
        font-weight: bold
        background-color: #FAA819
    .forgot-pass
      margin-top: 20px
      a, a:hover
        font-weight: bold
        color: #555
    .terms
      margin-top: 20px
      margin-bottom: 50px
      span
        font-size: smaller
        font-weight: bold